Flask==3.0.0
gunicorn==21.2.0

# spaCy (force using prebuilt wheels)
spacy==3.7.2
blis==0.7.10

# spaCy language model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

PyPDF2
reportlab
matplotlib
numpy
werkzeug==3.0.1
