Flask==3.0.0
gunicorn
spacy==3.4.4
numpy<2
PyPDF2
reportlab
matplotlib
werkzeug==3.0.1

# spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz

